
<% @ideas.each do |idea| %>

  <p>
  <%= link_to "Idea", idea_path(idea), class:'link'%>
  </p>
  <p>
  <%= idea.body %>
  </p>

<% end %>

<p>
<%= link_to "Light up the world", new_idea_path  %>
</p>
